@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.pizza-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-card {
    width: 280px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}



.p-image img {
    width: 100%;
    height: auto;
}

.p-details {
    height: 180px;
    padding: 15px;
}

.p-details h4 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
}

.p-details p {
    font-size: 0.9rem;
    color: #555;
}

.sizes,
.crusts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
}

.p-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
}
.sizes button,
.crusts button {
    width: 100%;
    padding: 6px 12px;
    box-shadow: 0px 2px 6px rgb(207, 206, 206);
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sizes button:hover,
.crusts button:hover {
    background-color: #f59e0b;
    color: #fff;
}

.sizes button.active,
.crusts button.active {
    background-color: #f59e0b;
    color: white;
    border-color: #f59e0b;
}

.p-footer button {
    background-color: #f59e0b;
    color: white;
    padding: 6px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.p-footer button:hover {
    background-color: #d97706;
}

.p-footer h4 {
    font-size: 1.2rem;
    color: #333;
    font-weight: 700;
}
.p-footer button {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.p-footer button.added {
    background-color: #f59e0b;
    cursor: default;
}

.p-footer button.added:hover {
    background-color: #f59e0b;
}
.p-footer button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 8px; 
}

.p-footer button svg {
    order: 1; 
}

.p-footer button span {
    order: 0; 
}
.p-footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px; 
}

.p-footer button svg {
    font-size: 15.5px; 
    stroke-width: 1; 
}

.sizes button.active,
.crusts button.active {
    background-color: #f59e0b;
    color: white;
    border-color: #f59e0b;
}

button.active {
    background-color: #4caf50;
    color: white;
  }
  
  button:disabled {
    font-size: 20px;
    background-color: #ddd;
    cursor: not-allowed;
  }
  