.cart-container {
  width: 100%;
  margin: 0 auto;

}

.clear-cart-btn {
  background-color: #f8d7da;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #721c24;
}

.clear-cart-btn:hover {
  background-color: #f5c6cb;
}

.clear-cart-icon {
  margin-right: 8px;
}

.cart-items {
  width: 1200px;
  margin: auto;
  margin-top: 120px;
  gap: 20px;
}

.cart-item {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
  margin-left: 15px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.quantity-btn {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.quantity-btn:hover {
  background-color: #ccc;
}

.quantity-value {
  margin: 0 10px;
  font-size: 16px;
}

.cart-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.remove-btn:hover {
  color: #c9302c;
} 